<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <img class="gravatar" src="http://flickholdr.com/50/50" class="img-rounded">
      <h1>
        <%= @user.name %>
      </h1>
      <%= link_to "Create New Record", new_form_path %>
    </section>
  </aside>
  <div class="span8">
    <% if @user.forms.any? %>
      <h3>Patient Forms (<%= @user.forms.count %>)</h3>
      <ol class="forms">
        <%= render @forms %>
      </ol>
      <%= will_paginate @forms %>
    <% end %>
  </div>
</div>