<%= provide(:title, 'Edit Patient') %>

<h1>Edit Patient</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @patient do |p| %>
    <div id="text-input-form-section">
      <%= render 'shared/error_messages', object: @patient  %>
      <%= p.label :name %>
      <%= p.text_field :name %>
      <%= p.submit "Update patient", class: "btn btn-large btn-info" %>
    </div>
    <% end %>
  </div>
</div>