<% provide(:title, "Form") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @patient.name %>
      </h1>
      <%= link_to "View all Records", '#' %><br>
      <%= link_to "Back to Patients", patients_path %>
    </section>
  </aside>
  <div class="span8">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Field</th>
          <th>Response</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Name</td>
          <td><%= @patient.name %></td>
        </tr>
        <tr>
          <td>Allergies</td>
          <td><%= @form.allergies %></td>
        </tr>
        <tr>
          <td>Family History</td>
          <td>
            <table class="table table-bordered whitesmoke">
              <tbody>
                <tr>
                  <td class="table_header" colspan="2">Family History</td>
                </tr>
                <tr>
                  <td>Heart Disease</td> 
                  <td><%= y(@form.family_history.heart_disease) %></td>
                </tr>
                <tr>
                  <td>Lung Disease</td> 
                  <td><%= y(@form.family_history.lung_disease) %></td>
                </tr>
                <tr>
                  <td>Kidney Disease</td> 
                  <td><%= y(@form.family_history.kidney_disease) %></td>
                </tr>
                <tr>
                  <td>Rheumatoid Arthritis</td> 
                  <td><%= y(@form.family_history.rheumatoid_arthritis) %></td>
                </tr>
                <tr>
                  <td>Cancer</td> 
                  <td><%= y(@form.family_history.cancer) %></td>
                </tr>
                <tr>
                  <td colspan="2">
                    <b>Other: &nbsp;</b>
                    <%= @form.family_history.other %>
                  </td> 
                </tr>
              </tbody>
            </table>
          </td>
        </tr>     
        <tr>
          <td>Medical History</td>
          <td>
            <table class="table table-bordered whitesmoke">
                <tbody>
                  <tr>
                    <td class="table_header" colspan="2">Heent</td>
                  </tr>
                  <tr>
                    <td>Blindness</td> 
                    <td><%= y(@form.medical_history.blindness) %></td>
                  </tr>
                  <tr>
                    <td>Deafness</td> 
                    <td><%= y(@form.medical_history.deafness) %></td>
                  </tr>
                  <tr>
                    <td>Vertigo</td> 
                    <td><%= y(@form.medical_history.vertigo) %></td>
                  </tr>
                  <tr>
                    <td class="table_header" colspan="2">Neck</td>
                  </tr>
                  <tr>
                    <td>Disc Bulge Cervical Spine</td> 
                    <td><%= y(@form.medical_history.disc_bulge_cervical_spine) %></td>
                  </tr>
                  <tr>
                    <td>Thyroid Disease</td> 
                    <td><%= y(@form.medical_history.thyroid_disease) %></td>
                  </tr>
                  <tr>
                    <td class="table_header" colspan="2">Lungs</td>
                  </tr>
                  <tr>
                    <td>Asthma</td> 
                    <td><%= y(@form.medical_history.asthma) %></td>
                  </tr>
                  <tr>
                    <td>COPD</td> 
                    <td><%= y(@form.medical_history.copd) %></td>
                  </tr>
                  <tr>
                    <td class="table_header" colspan="2">Heart</td>
                  </tr>
                  <tr>
                    <td>Heart Attack</td> 
                    <td><%= y(@form.medical_history.heart_attack) %></td>
                  </tr>
                  <tr>
                    <td>Arrhythmia / Pacemaker</td> 
                    <td><%= y(@form.medical_history.arrhythmia_pacemaker) %></td>
                  </tr>
                  <tr>
                    <td>Congestive Heart Failure</td> 
                    <td><%= y(@form.medical_history.congestive_heart_failure) %></td>
                  </tr>
                  <tr>
                    <td>Hypertension</td> 
                    <td><%= y(@form.medical_history.hypertension) %></td>
                  </tr>
                  <tr>
                    <td>Congenital Condition</td> 
                    <td><%= y(@form.medical_history.congenital_condition) %></td>
                  </tr>
                  <tr>
                    <td>Stents / Bypass</td> 
                    <td><%= y(@form.medical_history.stents_bypass) %></td>
                  </tr>
                  <tr>
                    <td>Blood Vessel Disease</td> 
                    <td><%= y(@form.medical_history.blood_vessel_disease) %></td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <b>Other: &nbsp;</b><%= @form.medical_history.other_heart %>
                    </td> 
                  </tr>
                  <tr>
                    <td class="table_header" colspan="2">Abdomen</td>
                  </tr>
                  <tr>
                    <td>Ulcer</td> 
                    <td><%= y(@form.medical_history.ulcer) %></td>
                  </tr>
                  <% if @form.medical_history.ulcer == true %>
                    <tr>
                      <td>Ulcer Healed?</td> 
                      <td><%= y(@form.medical_history.ulcer_healed) %></td>
                    </tr>
                  <% end %>
                  <tr>
                    <td>Hiatal Hernia / Reflux</td> 
                    <td><%= y(@form.medical_history.hiatal_hernia) %></td>
                  </tr>
                  <tr>
                    <td>Liver Disease / Hepatitis</td> 
                    <td><%= y(@form.medical_history.liver_disease) %></td>
                  </tr>
                  <tr>
                    <td>Kidney Disease</td> 
                    <td><%= y(@form.medical_history.kidney_disease) %></td>
                  </tr>
                  <tr>
                    <td>Irritable Bowel Disease</td> 
                    <td><%= y(@form.medical_history.irritable_bowel_disease) %></td>
                  </tr>
                  <tr>
                    <td>Chrons Disease</td> 
                    <td><%= y(@form.medical_history.chrons_disease) %></td>
                  </tr>
                  <tr>
                    <td>Diverticulitis</td> 
                    <td><%= y(@form.medical_history.diverticulitis) %></td>
                  </tr>
                  <tr>
                    <td>Other</td> 
                    <td><%= y(@form.medical_history.other_abdomen) %></td>
                  </tr>
                  <tr>
                    <td class="table_header" colspan="2">Neurological</td>
                  </tr>
                  <tr>
                    <td>Stroke</td> 
                    <td><%= y(@form.medical_history.stroke) %></td>
                  </tr>
                  <tr>
                    <td>Parkinsons</td> 
                    <td><%= y(@form.medical_history.parkinsons) %></td>
                  </tr>
                  <tr>
                    <td>Paralysis</td> 
                    <td><%= y(@form.medical_history.paralysis) %></td>
                  </tr>
                  <tr>
                    <td class="table_header" colspan="2">Blood</td>
                  </tr>
                  <tr>
                    <td>Anemia</td> 
                    <td><%= y(@form.medical_history.anemia) %></td>
                  </tr>
                  <tr>
                    <td>Clotting Problems</td> 
                    <td><%= y(@form.medical_history.clotting_problems) %></td>
                  </tr>
                  <tr>
                    <td>Coumadin</td> 
                    <td><%= y(@form.medical_history.coumadin) %></td>
                  </tr>
                  <tr>
                    <td class="table_header" colspan="2">Musculoskeletal</td>
                  </tr>
                  <tr>
                    <td>Neck Pain</td> 
                    <td><%= y(@form.medical_history.neck_pain) %></td>
                  </tr>
                  <tr>
                    <td>Back Pain</td> 
                    <td><%= y(@form.medical_history.back_pain) %></td>
                  </tr>
                  <tr>
                    <td>Osteoarthritis</td> 
                    <td><%= y(@form.medical_history.osteoarthritis) %></td>
                  </tr>
                  <tr>
                    <td>Rheumatoid Arthritis</td> 
                    <td><%= y(@form.medical_history.rheumatoid_arthritis) %></td>
                  </tr>
                  <tr>
                    <td>Lupus</td> 
                    <td><%= y(@form.medical_history.lupus) %></td>
                  </tr>
                  <tr>
                    <td class="table_header" colspan="2">Nervous Disorder</td>
                  </tr>
                  <tr>
                    <td>Depression</td> 
                    <td><%= y(@form.medical_history.depression) %></td>
                  </tr>
                  <tr>
                    <td>Anxiety</td> 
                    <td><%= y(@form.medical_history.anxiety) %></td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <b>Other: &nbsp;</b><%= @form.medical_history.other_nervous_disorder %>
                    </td> 
                  </tr>
                  <tr>
                    <td class="table_header" colspan="2">Endocrine</td>
                  </tr>
                  <tr>
                    <td>Diabetes</td> 
                    <td><%= y(@form.medical_history.diabetes) %></td>
                  </tr>
                  <tr>
                    <td class="table_header" colspan="2">Other Medical History</td>
                  </tr>
                  <tr> 
                    <td><%= @form.medical_history.other_medical_history %></td>
                  </tr>
                </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>Current Symptoms</td>
          <td>
            <table class="table table-bordered whitesmoke">
              <tbody>
                <tr>
                  <td class="table_header" colspan="2">General</td>
                </tr>
                <tr>
                  <td>Fever</td>
                  <td><%= y(@form.symptom.fever) %></td>
                </tr>
                <tr>
                  <td>Weight Loss</td>
                  <td><%= y(@form.symptom.weight_loss) %></td>
                </tr>
                <tr>
                  <td>Weight Gain</td>
                  <td><%= y(@form.symptom.weight_gain) %></td>
                </tr>
                <tr>
                  <td class="table_header" colspan="2">Eyes</td>
                </tr>
                <tr>
                  <td>Blurring</td>
                  <td><%= y(@form.symptom.blurring) %></td>
                </tr>
                <tr>
                  <td>Loss of Vision</td>
                  <td><%= y(@form.symptom.loss_of_vision) %></td>
                </tr>
                <tr>
                  <td class="table_header" colspan="2">Cardiovascular</td>
                </tr>
                <tr>
                  <td>Difficulty Breathing While Laying Down</td>
                  <td><%= y(@form.symptom.difficulty_breathing_while_lying_down) %></td>
                </tr>
                <tr>
                  <td>New Chest Pain or Discomfort</td>
                  <td><%= y(@form.symptom.new_chest_pain_or_discomfort) %></td>
                </tr>
                <tr>
                  <td>Palapitations</td>
                  <td><%= y(@form.symptom.palpitations) %></td>
                </tr>
                <tr>
                  <td>New Leg Swelling</td>
                  <td><%= y(@form.symptom.new_leg_swelling) %></td>
                </tr>
                <tr>
                  <td class="table_header" colspan="2">Respiratory</td>
                </tr>
                <tr>
                  <td>Coughing up Blood</td>
                  <td><%= y(@form.symptom.coughing_up_blood) %></td>
                </tr>
                <tr>
                  <td>New Shortness of Breath</td>
                  <td><%= y(@form.symptom.new_shortness_of_breath) %></td>
                </tr>
                <tr>
                  <td class="table_header" colspan="2">Gastrointestinal</td>
                </tr>
                <tr>
                  <td>Vomiting Blood</td>
                  <td><%= y(@form.symptom.vomiting_blood) %></td>
                </tr>
                <tr>
                  <td>Bloody Stools</td>
                  <td><%= y(@form.symptom.bloody_stools) %></td>
                </tr>
                <tr>
                  <td>New Abdominal Pain</td>
                  <td><%= y(@form.symptom.new_abdominal_pain) %></td>
                </tr>
                <tr>
                  <td class="table_header" colspan="2">Urinary</td>
                </tr>
                <tr>
                  <td>Blood in Urine</td>
                  <td><%= y(@form.symptom.blood_in_urine) %></td>
                </tr>
                <tr>
                  <td>New Inability to Control Bladder</td>
                  <td><%= y(@form.symptom.new_inability_to_control_bladder) %></td>
                </tr>
                <tr>
                  <td class="table_header" colspan="2">Musculoskeletal</td>
                </tr>
                <tr>
                  <td>Gout</td>
                  <td><%= y(@form.symptom.gout) %></td>
                </tr>
                <tr>
                  <td class="table_header" colspan="2">Skin</td>
                </tr>
                <tr>
                  <td>Rash</td>
                  <td><%= y(@form.symptom.rash) %></td>
                </tr>
                <tr>
                  <td>New Open Wound</td>
                  <td><%= y(@form.symptom.new_open_wound) %></td>
                </tr>
                <tr>
                  <td class="table_header" colspan="2">Neurological</td>
                </tr>
                <tr>
                  <td>Brief Paralysis</td>
                  <td><%= y(@form.symptom.brief_paralysis) %></td>
                </tr>
                <tr>
                  <td>New Numbness</td>
                  <td><%= y(@form.symptom.new_numbness) %></td>
                </tr>
                <tr>
                  <td>New Tingling</td>
                  <td><%= y(@form.symptom.new_tingling) %></td>
                </tr>
                <tr>
                  <td class="table_header" colspan="2">Endocrine</td>
                </tr>
                <tr>
                  <td>Excessive Thirst</td>
                  <td><%= y(@form.symptom.excessive_thirst) %></td>
                </tr>
                <tr>
                  <td>Excessive Hunger</td>
                  <td><%= y(@form.symptom.excessive_hunger) %></td>
                </tr>
                <tr>
                  <td class="table_header" colspan="2">Heme / Lymphatic</td>
                </tr>
                <tr>
                  <td>Abnormal Bruising</td>
                  <td><%= y(@form.symptom.abnormal_bruising) %></td>
                </tr>
                <tr>
                  <td class="table_header" colspan="2">Allergic / Immunologic</td>
                </tr>
                <tr>
                  <td>Hives</td>
                  <td><%= y(@form.symptom.hives) %></td>
                </tr>
                <tr>
                  <td>HIV Exposure</td>
                  <td><%= y(@form.symptom.hiv_exposure) %></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>Medication</td>
          <td><%= @form.medication %></td>
        </tr>
        <tr>
          <td>Surgery History</td>
          <td><%= @form.surgery_history %></td>
        </tr>
        <tr>
          <td>Smoker?</td>
          <td><%= y(@form.smoke) %></td>
        </tr>
        <tr>
          <td>Drinks Alcohol?</td>
          <td><%= y(@form.alcohol) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>